Package: com.ruslan.paniclock7
Name: PanicLock7
Depends: firmware (>= 7.0), mobilesubstrate, libactivator, applist
Version: 1.1
Architecture: iphoneos-arm
Description: Silently lock your iOS Device via any secret gesture. Engineered for iOS 7.
Maintainer: Ruslan Ardashev
Author: Ruslan Ardashev
Section: Tweaks
